# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Firebase Hosting local cache
.firebase/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
